body{
  color:plum;
  font-size:20px;
  background-color: powderblue;
}
img{
  width:28%;
  height:350px;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
  width: 30%;
}
#top,#name{
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gainsboro;
}

li {
  float: left;
}

li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgray;
}