body{
  color:plum;
  font-size:20px;
  background-color: powderblue;
}
img{
  width:28%;
  height:350px;

}
.center {
  float:right;
  border-radius:40%;
  width: 30%;
  opacity:1.0;
  
}
#top{
  text-align:center;

}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gainsboro;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: darkgray;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
  color:black;
}
input{
  height:40px;
  width: 100%;
  
}
#me{
  display:block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 40px
 
}
#about{
  color:black;

}
#info {
  width: 50%;
  height: 100px;
 float:right;

}
#info > input{
  width:100%;
  height:35px;

}

input:hover{
  height:40px;
  font-size: 26px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
  height:50px;
}
  #topdiv{
    width:100%;
    height:380px;
    display: flex;
    flex-direction: row;
  }
  #topdiv{
    background-image: url("https://images.ctfassets.net/e8i6c2002cqg/3RsFbGt0m2znQNIVa7C1Zg/26d79d89d0d17b221020d4423c8b0984/kimberly-angelist_illustration0912_optimized.jpg");
    background-repeat: repeat;
    background-position: left top;
    margin-right: 10px;
    width:100%;
    opacity:1.0;
    height: 400px;

  }
  #textbck h1{
    position: absolute;
    top: 20%;
    left: 30%;
    color: black;
    font-size:100px;
  
  }
  #Rating{
    float:left;
    color:black;
    width: 50%;
    height:100px;
   display: block;
  }
  .checked {
    color: orange;
    
  }