body{
  color:plum;
  font-size:20px;
  background-color: powderblue;
}
img{
  width:28%;
  height:350px;

}
.center {
  float:right;
  border-radius:40%;
  width: 30%;
  opacity:1.0;
  
}
#top{
  text-align:center;

}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:gainsboro;
  width: 100%;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover {
  background-color: darkgray;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
  color:black;
}
input{
  height:40px;
  width: 100%;
  
}
#me{
  display:block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 12px
 
}
#name{
  color:black;
  display: inline;
}
#about{
  color:black;

}
#info {
  width: 50%;
  height: 100px;
 float:right;
 color:black;

}
#info > input{
  width:100%;
  height:35px;

}

input:hover{
  height:40px;
  font-size: 26px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
  height:50px;
}
 
  #textbck h1{
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    font-size:100px;
  
  }
  #Rating{
  
    color:black;
    width: 50%;
    height:200px;
   display: inline-block;

  }
  .checked {
    color: orange;
    
  }
  @media (max-width: 700px){
   #topdiv{
     background-image: url("https://i1.sndcdn.com/artworks-000152909524-k3mw6h-t500x500.jpg");
     background-repeat:repeat;
    background-position: left top;
    margin-right: 10px;
    width:100%;
    opacity:1.0;
    height: 300px;
    
   }
   #textbck h1{
    position: absolute;
    top: 30%;
    left: 5%;
    color: purple;
    font-size:80px;
  

  }
}
  @media (min-width: 600px){
 #topdiv{
      background-image: url("https://pbs.twimg.com/profile_images/1144387183811448833/XFGd68vL.png");
         background-repeat: repeat;
         background-position: left top;
         margin-right: 10px;
         width:100%;
         opacity:1.0;
         height: 400px;
     
       
    }
    #textbck h1{
      position: absolute;
      top: 20%;
      left: 30%;
      color: white;
      font-size:100px;
    
    }
  
  
  
  }


